[submodule "external/sbf"]
	path = external/sbf
	url = https://github.com/peterspackman/sbf
[submodule "external/lapack-release"]
	path = external/lapack-release
	url = https://github.com/Reference-LAPACK/lapack-release
