# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
run_molecule
run_har
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build Files
Makefile
foodependencies/
build
# Temporary test files
*.bad

# Plaforms Specific Build Files
GNU-*
IBM-*
INTEL-*
MIPSPRO-*
NAG-*
PGI-*
PATHSCALE-*
SUN-*

# Mac Specific Files
.DS_Store

# cscope/ tags files
tags
cscope.*

