[submodule "external/sbf"]
	path = external/sbf
	url = https://github.com/peterspackman/sbf
[submodule "external/dftd3-lib"]
	path = external/dftd3-lib
	url = https://github.com/dftbplus/dftd3-lib
[submodule "external/lapack-release"]
	path = external/lapack-release
	url = https://github.com/Reference-LAPACK/lapack-release
[submodule "external/libcint"]
	path = external/libcint
	url = https://github.com/sunqm/libcint.git
[submodule "external/libxc"]
	path = external/libxc
	url = https://gitlab.com/libxc/libxc.git
